.timeline {
    margin: 0;
    padding: 0;
    border-left: 5px solid $gray-light;
    padding-bottom: 3em;
    position: relative;

    & > li {
        list-style: none;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: -1em;
        left: -(2 * $font-size-base);
        width: 4 * $font-size-base;
        height: 4 * $font-size-base;
        border-radius: 4 * $font-size-base;
        background: $gray-light;
        border: ($font-size-base / 2) solid $highlight;
    }

    .post {
        padding-left: 1em;
        margin-bottom: 3em;
        position: relative;
    }

    .post a {
        display: block;
    }

    .post:before {
        content: "";
        position: absolute;
        top: -1px;
        left: -(0.66 * $font-size-base);
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: $gray-light;
        border: 5px solid $highlight;
    }

    .post-title {
        font-weight: 900;
    }

    .post-timestamp {
        font-size: $font-size-base * 3/4;
    }
}